
body {
	font-family: 'Oxygen', sans-serif;
	background-color: maroon;
	color: white;
}

/* ===== HEADER ========== */
#nav-header {
	background-color: gold;
}

.navbar {
 	justify-content: flex-start;
}

#header-img {
	border: 2px solid black;
}
#header-text {
	text-decoration: none;
	color: black;
	margin-left: 20px;
}